<html>
   <body>
        <head>
            <title>{% block title %}{% endblock %}</title>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}">
        </head>
      <div style='padding:10px'>
        {{ user }}
        {% block content %}{% endblock %}
      </div>
   </body>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src='https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js'></script>
   <script>
      $(function() {
        function submitForm(){
          $.ajax({
              url: '/register',
              data: $('form').serialize(),
              type: 'POST',
              success: function(response) {
                  if(response == 'existing'){
                    $('#exist').css('display', 'unset');
                  }else{
                    alert('Registration Complete!');
                    window.location.href = '/';
                  }
              },
              error: function(error) {
                  console.log(error);
              }
          });
        }

             // Initialize form validation on the registration form.
  // It has the name attribute "registration"
      $("form[name='registration']").validate({
          // Specify validation rules
          rules: {
            // The key name on the left side is the name attribute
            // of an input field. Validation rules are defined
            // on the right side
            inputName: "required",
            inputEmail: {
              required: true,
              // Specify that email should be validated
              // by the built-in "email" rule
              email: true
            },
            inputPassword: {
              required: true,
              minlength: 5
            },
            confirmPassword: {
              required: true,
              minlength: 5,
              equalTo:'#inputPassword'
            }
          },
          // Specify validation error messages
          messages: {
            inputName: "<br><div style='color:red'>Please enter your username</div>",
            inputPassword: {
              required: "<br><div style='color:red'>Please provide a password</div>",
              minlength: "<br><div style='color:red'>Your password must be at least 5 characters lon</div>"
            },
            confirmPassword: {
              required: "<br><div style='color:red'>Please provide a password</div>",
              minlength: "<br><div style='color:red'>Your password must be at least 5 characters long</div>",
              equalTo: "<br><div style='color:red'>Password doesn't match</div>"
            },
            inputEmail: "<br><div style='color:red'>Please enter a valid email address</div>",
          },
          // Make sure the form is submitted to the destination defined
          // in the "action" attribute of the form when valid
          submitHandler: function(form) {
            submitForm();
          }
        });
      });
   </script>
</html>